<ion-header>
  <ion-toolbar class="green">
    <ion-title>¡Bienvenid@!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-img src="/src/assets/img/login.svg" alt="Login"></ion-img>

  <ion-item class="ion-margin-top">
    <ion-input [(ngModel)]="modelUser" label-placement="floating" type="email" label="Usuario: "></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="modelPass" label-placement="floating" type="password" label="Contraseña: "></ion-input>
  </ion-item>

  <ion-button (click)="validarCredenciales()" class="green" expand="block">
    Ingresar
  </ion-button>
 
</ion-content>
